<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${Create})">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <form action="/posts/create" method="post" th:object="${post}" class="form-group">
        <label>Title:</label>
        <input class="form-control" th:value="*{title}" th:field="*{title}" />
        <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        <label>Body</label>
        <textarea class="form-control" th:value="*{body}" th:field="*{body}"></textarea>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
        <input class="button btn-default" type="submit" />
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>